# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*
!.env.example

# Logs
logs
*.log
logs/**

# OS
.DS_Store
Thumbs.db

# Build artifacts
.tmp
coverage
dist
build
